ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-navbg);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--color-link);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /*background-color: #111;*/
}

.active {
  /*background-color: #4CAF50;*/
}
h1 { color: var(--font-color); }

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
    display: block;
}

body {
  background: var(--color-secondary);
  color: var(--font-color);
}

.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
  --color-navbg: #333333;
  --color-link: #ffffff;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --color-navbg: #ffffff;
  --color-link: #000000;
}
