body {
  font-family: 'Raleway', sans-serif;
  font-family: 'B612 Mono', monospace;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Work Sans', sans-serif;
  margin: auto;
  background-color: #271F1D;
  color: #ffd21e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align:center
}

li {
  display:inline-block
}

li a {
  display: block;
  color: #ffffff;
  color: rgba(244, 244, 244, 0.95);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #ffffff
}

.active {
  color: #ffffff; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main {
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 80px;
}

footer {
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.top {
  background-color: #e0c2a6;
  color: #ffffff;
  padding-bottom: 50px;
}

.mid{
    background-color: #798E87;
    padding-bottom: 100px;
}